@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

// сделать для всех svg применять по классу
// background-color сснипед
// !!!надо что то придумать с ховером 103

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}

// проверить потмо норм ли выглядит меню на синем фоне!!!
.menu {
    @media (max-width: 1350px) {
        display: none;
    }

    &__logo {
        margin-right: 15px;
        z-index: 10;
    }

    &__btn {
        display: none;
    }

    &__items {
        display: flex;
        gap: 80px;
        margin-right: 15px;
        flex-wrap: wrap;
    }

    &__item {
        &--active {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 25px;
                background: $Button-Station;
            }
        }
    }

    &__link {
        font-size: 17px;
        color: $white;
        text-transform: uppercase;
        transition: background 0.5s;
        outline-color: #000000;
        outline-offset: 5px;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(139.21deg, #FFFFFF 23.04%, #0AA6FE 351.02%, #05FFFF 363.71%);
            //!!!! записать в снипеты
        }

        &:active {
            color: $active;
        }
    }

    &__nav {
        display: flex;
    }

    &__user {
        padding: 18px 27px 18px 27px;
        background: $Button-Station;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        transition: opacity 5.5s;
        opacity: 1;

        &:focus {
            color: $focus;
        }

        &:hover {
            background: $hover-ac;
            opacity: 0.99;
        }

        &:active {
            color: $active;
        }
    }
}

.menu-mobile {
    display: none;

    @media (max-width: 1350px) {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    &__logo {
        margin-right: 15px;
        z-index: 10;
    }

    &__btn {
        display: none;

        @media (max-width: 1350px) {
            order: 0;
            width: 35px;
            height: 22px;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;

            span {
                height: 3px;
                width: 100%;
                background-color: $white;
            }

            &::before {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $white;
            }

            &::before {
                content: '';
                top: 0;
            }
        }

        &__btn.active span {
            transform: scale(0);
        }

        &__btn.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
    }

    &__items {
        display: flex;
        gap: 80px;
        margin-right: 15px;
        flex-wrap: wrap;

        @media (max-width: 1350px) {
            transform: translateY(-200%);
            position: absolute;
            top: 0px;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            // background-color: #edf1f4;
            background-color: rgba(0, 0, 0, 0.5);
            transition: transform 1s;
            padding: 130px 0 20px;
            gap: 0px;

            &__items--active {
                transform: translateY(0%);
            }
        }
    }

    &__item {
        @media (max-width: 1350px) {
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        font-size: 17px;
        color: $white;
        text-transform: uppercase;
        transition: background 0.5s;
        outline-color: #000000;
        outline-offset: 5px;

        @media (max-width: 1350px) {
            padding: 25px 0;
            display: block;
            margin: 0 auto;
            height: 100%;
            font-size: 16px;
        }

        @media (max-width: 1200px) {
            font-size: 15px;
        }

        @media (max-width: 992px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 13px;
        }

        @media (max-width: 576px) {
            font-size: 12px;
            padding: 10px 0;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(139.21deg, #FFFFFF 23.04%, #0AA6FE 351.02%, #05FFFF 363.71%);
            //!!!! записать в снипеты
        }

        &:active {
            color: $active;
        }
    }

    &__nav {
        display: flex;
    }

    &__user {
        padding: 18px 27px 18px 27px;
        background: $Button-Station;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        transition: opacity 5.5s;
        opacity: 1;

        @media (max-width: 1200px) {
            padding: 16px 25px 16px 25px;
        }

        @media (max-width: 992px) {
            padding: 14px 20px 14px 20px;
        }

        @media (max-width: 768px) {
            padding: 12px 15px 14px 15px;
        }

        @media (max-width: 576px) {
            padding: 10px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background: $hover-ac;
            opacity: 0.99;
        }

        &:active {
            color: $active;
        }
    }

    &__svg {
        width: 10px;
        height: 10px;
    }
}



.dropdown {
    background-color: $white;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-right: 15px;

    @media (max-width: 576px) {
        margin-right: 0px;
    }

    &__optoon {
        text-transform: uppercase;
    }
}

// ------------------------------------------------------
// стили выпадающего списка
// отпимизировать и внести цвета

option {
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.jq-selectbox {
    margin-right: 0;
}

.icon-ok,
.icon-error {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 25%;
        left: 15px;
        height: 23px;
        width: 35px;

        @media (max-width: 576px) {
            left: 5px;
            height: 14px;
            width: 20px;
        }
    }
}


.icon-ok {
    &::before {
        background: url('../images/icons/1.svg') no-repeat;
    }
}

.icon-error {
    z-index: 100;

    &::before {
        background: url('../images/icons/2.svg') no-repeat;
    }
}

.jq-selectbox__select {
    height: 60px;
    width: 125px;
    background: transparent;
    padding: 0;
    padding-left: 11px;
    display: flex;

    @media (max-width: 1350px) {
        height: 55px;
        width: 110px;
    }

    @media (max-width: 992px) {
        height: 45px;
        width: 100px;
    }

    @media (max-width: 768px) {
        height: 40px;
        width: 80px;
    }

    @media (max-width: 576px) {
        height: 35px;
        width: 65px;
        padding-left: 0px;
    }
}

.jq-selectbox__select:hover {
    background: transparent;

}

.jq-selectbox__select-text {
    margin-left: 50px;
    margin-top: 19px;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0em;
    color: #000000;

    @media (max-width: 576px) {
        font-size: 12px;
        margin-left: 35px;
        margin-top: 8px;
    }
}

.jq-selectbox__trigger {
    border: none;
}

.jq-selectbox__trigger-arrow {
    top: 26px;
    border-top: 5px solid #2E3A59;

    @media (max-width: 576px) {
        display: none;
    }
}

.active {
    background-image: url('../images/caret_down.svg');
    background-position: right;
    background-size: auto;
}

.jq-selectbox li.selected {
    background-color: transparent;
    color: #000000;
}

.jq-selectbox li {
    height: 40px;
    text-align: center;
    line-height: 2;
    padding-left: 35px;
    font-size: 17px;

    @media (max-width: 576px) {
        font-size: 12px;
        height: 35px;
        width: 65px;
    }

    &:hover {
        background-color: #EDF4FF;
        color: #000;
    }
}

.sel {
    background-image: url('../images/icons/caret_down.svg');
    background-position: 90% 50%;
    background-size: auto;
    background-repeat: no-repeat;

    @media (max-width: 576px) {
        display: none;
    }
}

.intro {
    // не совсем точно доделвл 375 там картинка не полукруглая
    display: flex;
    align-items: end;
    background-image: url('../images/icons/blue_bg.svg');
    // background: linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: $white;
    position: relative;
    z-index: 4;

    @media (max-width: 576px) {
        align-items: center;
        background-image: url('../images/icons/blue_bg-mobil.svg');
        // background-size: 375px 560px;
        // width: 375px;
        // height: 560px;

    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 195px;
        width: 100%;
        background-image: url('../images/icons/snow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;

        @media (max-width: 576px) {
            background-image: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 15%;
        right: 0;
        height: 661px;
        width: 1048px;
        background-image: url('../images/car.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 576px) {
            background-image: none;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 3%;
            left: 57%;
            transform: translateX(-50%);
            height: 66px;
            width: 100px;
            background-image: url('../images/icons/ribbon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 576px) {
                background-image: none;
            }
        }
    }

    &__box {
        max-width: 750px;
        margin-left: 10%;
        z-index: 1;

        @media (max-width: 576px) {
            margin-left: 0;
        }
    }

    &__info {
        margin-left: 14%;
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;

        // background-color: $white;
        @media (max-width: 576px) {
            margin-left: 0%;
            text-align: center;
            padding: 0px 10px;
            // !!!
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 84vh;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 55px;
        text-transform: uppercase;
        margin-bottom: 60px;
        position: relative;

        @media (max-width: 576px) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -13px;
            margin-left: -32px;
            height: 45px;
            width: 45px;
            background-image: url('../images/icons/equals.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 576px) {
                height: 22px;
                width: 22px;
                top: -7px;
                margin-left: -13px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            // left: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 110px;
            background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);

            @media (max-width: 576px) {
                height: 3px;
            }
        }
    }

    &__svg {
        margin: 0 5px;

        @media (max-width: 576px) {
            width: 23px;
            height: 23px;
        }
    }

    &__text {
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 45px;

        @media (max-width: 576px) {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }

    &__text p {
        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 576px) {
                margin-bottom: 20px;
            }
        }
    }

    &__links {
        margin-bottom: 30px;
    }

    &__img {
        z-index: 30;
        width: 490px;
        height: 240px;

        @media (max-width: 576px) {
            width: 265px;
            height: 120px;
        }
    }
}

.links {
    z-index: 1;

    &__link {
        background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        // border-radius: 5px;
        padding: 20px;
        margin-right: 35px;
        transition: color 0.5s;
        display: inline-flex;
        align-items: center;
        color: $white;
        max-width: 220px;

        @media (max-width: 576px) {
            font-size: 13px;
            margin-right: 0;
            margin-bottom: 20px;
            // max-width: 100%;
            justify-content: space-between;
            max-width: 180px;
            width: 100%;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background: $hover-ac;
        }

        &:active {
            color: $active;
        }
    }

    &__svg {
        margin-left: 35px;

        @media (max-width: 576px) {
            margin-left: 15px;
            width: 32px;
            height: 18px;
        }
    }

    &__video {
        padding: 23px 38px;

        @media (max-width: 576px) {
            padding: 18px 18px;
        }
    }
}

.video {
    border-radius: 5px;
    border: 1px solid skyblue;
    border-image: linear-gradient(113.71deg, #A9EAFF 12.56%, #6CFFFF 85.62%);
    border-image-slice: 1;
    transition: color 0.5s;
    font-weight: 600;
    color: $white;

    @media (max-width: 576px) {
        font-size: 13px;
        display: block;
        max-width: 180px;
        margin: 0 auto;
        // width: 100%;
    }

    &__text {
        margin-right: 15px;
    }

    // еще и бордер радиус не работает
    // &__svg {
    //     margin-right: 15px;
    // }

    &:focus {
        color: $focus;
    }

    &:hover {
        background: $hover-default;
    }

    &:active {
        color: $active;
    }
}

// --------------------------------------
// градиент
.mask {
    overflow: hidden;
}

.roundedCorners {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='green', GradientType=0);
    /* IE6-9 */
}

// --------------------------------------

.functions {
    background-color: #F5F9FF;
    padding-top: 25px;
    padding-bottom: 50px;

    &__wrapper {
        // display: flex;
        // justify-content: space-between;
    }

    &__itemss {
        max-width: 650px;
        margin-left: auto;
    }

    &__slider {
        width: 100%;
        position: relative;

    }

    // &__swipers {
    //     padding-top: 150px;
    //     max-width: 300px;
    //     // найти и удалить
    // }

    &__inner {
        // margin-left: 11%;

        display: flex;
        justify-content: center;
    }

    &__swiper {
        // padding-top: 110px;
        // margin-top: 100px;
        max-width: 300px;
        margin-top: -100px;
    }

    &__box {
        max-width: 650px;
        // max-width: 550px;
    }

    &__title {
        color: #2E3A59;
        margin-bottom: 25px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -7%;
            right: 15%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/strip.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 16%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/strip.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__text {
        font-weight: 400;
        text-align: center;
        color: #828282;
        // margin: 0  60px;
        margin: 0 auto 60px auto;
        // max-width: 500px;
        max-width: 650px;
        // margin-bottom: 60px;
        // margin-left: 0;
        // margin-right: auto;

    }

    &__items {
        margin-bottom: 60px;
        // max-width: 540px;
    }

    &__item {
        margin-bottom: 50px;
    }

    &__item span {
        font-weight: 700;
        color: #2E3A59;
    }

    &__info {
        padding: 30px 24px;
        // background: $white;
        // border: 1px solid silver;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        margin-bottom: 60px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        // font-size: 18px;
        // line-height: 22px;
        /* identical to box height */
        text-align: center;
        color: #828282;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    // &__link {
    //     max-width: 200px;
    // }

    &__svg {
        margin-right: 15px;
    }

    &__video {
        padding: 18px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #FF3B3B;

    }
}

.swiper-slide-img {
    width: 300px;
    height: 610px;
    object-fit: cover;
    margin-bottom: 40px;
}

.swiper-next {
    margin-right: 35px;
}

.swiper-prev {}

.swiper-next,
.swiper-prev {
    top: initial;
    font-size: 27px;
    cursor: pointer;

    //!!!! transform: rotate(180deg);
    // background: linear-gradient(114.94deg, #0AA6FE -7.86%, #00E0FF 96.71%);
    // background-clip: text;
    // color: linear-gradient(114.94deg, #0AA6FE -7.86%, #00E0FF 96.71%);
}

.swiper-buttons {
    display: flex;
    justify-content: center;
}

.swiper-button-prev {
    left: 24.9%;
}

.swiper-button-next {
    right: 24.9%;
}

.swiper-button-prev,
.swiper-button-next {
    top: 55%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(114.94deg, #0AA6FE -7.86%, #00E0FF 96.71%);
    width: 160px;
    height: 160px;
    box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48),
        inset 0px 0px 25px rgba(0, 50, 180, 0.3);
    border-radius: 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: $white;
    font-size: 39px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

// ---------------------------------------------------------
.about {
    background-image: url('../images/icons/blue_bg_about.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px;
    position: relative;


    &__wrapper {
        overflow: hidden;
        // max-width: 850px;
        // margin: 0 auto;
        // position: relative;
        // background: #F5F9FF;

        &::before {
            content: "";
            position: absolute;
            top: 42.5%;
            left: 29%;
            width: 55px;
            height: 47px;
            background-image: url('../images/icons/quotes-up.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 20%;
            right: 29.1%;
            width: 55px;
            height: 47px;
            background-image: url('../images/icons/quotes-down.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__title {
        padding-top: 25px;
        // скорей всего не правильно падинг
        color: $white;
        margin-bottom: 80px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 5%;
            left: 11%;
            height: 45px;
            width: 45px;
            background-image: url('../images/icons/equals.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    }
}

.swiper-about {
    // max-width: 825px;
    // margin: 0 auto;
    padding: 85px 110px 45px 110px;
    background: $white;
    border-radius: 5px;
    text-align: center;
    // position: relative;
    color: #2E3A59;


    &__images {
        position: absolute;
        top: -27%;
        // right: 0;
        left: 50%;
        transform: translateX(-50%);
        // overflow: visible;
    }

    &__img {

        height: 120px;
        width: 120px;
        object-fit: cover;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: 9px;
            right: -37px;
            height: 11px;
            width: 29px;
            // background-image: url('../images/icons/border.svg');
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
            background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
            border-radius: 5px 55px;
        }

    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

.swiperAbout {
    // overflow: hidden;
    max-width: 830px;
    // height: 250px;
}


.product-tabs {
    position: relative;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        // margin-bottom: 60px; //40 у верхнего
        display: flex;
        // justify-content: start;
        flex-wrap: wrap;
        gap: 15px;

        @media (max-width: 992px) {
            margin: 0 auto 50px;
        }

        @media (max-width: 768px) {
            margin: 0 auto 35px;
        }

        @media (max-width: 575px) {
            margin: 0 auto 20px;
        }
    }

    &__link {
        background-color: $white;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        color: #AAAAAA;
        padding: 17px 33px;
        transition: background-color 0.4s;
        letter-spacing: 1.1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 320px;

        &--active {
            background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
            color: $white;
        }

        @media (max-width: 992px) {
            padding: 15px 50px 15px 50px;
        }

        @media (max-width: 768px) {
            padding: 15px 55px 15px 55px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width: 575px) {
            padding: 15px 15px 15px 15px;
            max-width: 80%;
            margin: 0 auto 20px;
            display: flex;
            width: 80%;
            justify-content: center;
        }

        &--information {
            padding: 15px 20px 15px 20px;
        }

        &--active {
            background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
            color: $white;
            // fill: white;

            // svg use {}

            // path {
            //     fill: white;
            // }
            path {
                fill: $white;
            }

            // svg path {
            //     fill: white;
            // }

        }
    }

    &__svg {
        margin-right: 15px;
    }

    &__text {
        display: none;
        line-height: 1.8;
        font-weight: 400;
        letter-spacing: 0px;
        min-height: 200px;

        &.product-tabs__text--rates-active {
            display: block;
        }

        &.product-tabs__text--active {
            display: block;
        }
    }

    &__texts {
        display: none;
        line-height: 1.8;
        font-weight: 400;
        letter-spacing: 0px;
        min-height: 200px;

        &.product-tabs__texts--rates-active {
            display: block;
        }

        &.product-tabs__texts--active {
            display: block;
        }
    }

    // &__text p {
    //     // @include line-clamp-box(6);
    // }
}



.rates-tabs {
    &__items {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 60px;
    }

    &__link {
        padding: 22px 33px;
        background: $white;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: #AAAAAA;

        &--active {
            background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
            color: $white;

            path {
                fill: $white;
            }
        }
    }

    &__svg {
        margin-right: 15px;
    }

    &__text {
        display: none;

        &--active {
            display: block;
        }
    }
}

.rates {
    padding-top: 110px;
    padding-bottom: 70px;
    // !!!

    &__box {
        display: flex;
    }

    &__title {
        position: relative;
        margin: 0 auto 60px auto;
        display: inline-block;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            bottom: -32%;
            right: -12%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/strip.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: -18%;
            left: -12%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/strip.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    &__wrapper {
        background: $white;
    }

    &__info {
        text-align: center;
        margin-bottom: 35px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: $title;
    }

    &__items {
        margin-bottom: 25px;
        padding: 0px 40px;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        font-weight: 400;
        color: $title;
    }

    &__svg {
        margin-right: 10px;
    }

    &__price {
        text-align: center;
        font-weight: 600;
        font-size: 45px;
        color: $title;
        margin-bottom: 20px;
    }

    &__link {
        background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        border-radius: 5px 0px 0px 55px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $white;
        padding: 23px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: background 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background: $hover-ac;
            // !!!!переписать снипед на background-color
        }

        &:active {
            color: $active;
        }
    }

    &__link span {
        margin-right: 15px;
    }

    &__subtitle {
        text-align: center;
        padding: 23px 0;
        margin-bottom: 35px;
        font-weight: 600;
        font-size: 21px;
        color: $white;
        text-transform: uppercase;
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
        border-radius: 5px 55px 0px;
        //!!!! сделать снипед популярных цветов
    }

    &__title--regular {
        // !!! sub
        background: linear-gradient(103.24deg, #05FFFF -7.39%, #0AA6FE 85.9%);
    }

    &__title--standard {
        background: linear-gradient(89.46deg, #DDA6FF -5.85%, #D828F4 106.28%);
    }

    &__title--version {
        background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
    }
}

.questions {
    padding: 70px;

    &__wrapper {
        display: flex;
    }

    &__title {
        position: relative;
        margin: 0 auto 60px auto;
        display: inline-block;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            bottom: -32%;
            right: -12%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/blue-line.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: -18%;
            left: -12%;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/strip.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__items {
        margin-bottom: 45px;
        cursor: pointer;
    }

    &__item {
        margin-bottom: 25px;
        background: $white;
        padding: 35px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 35px;
    }

    &__subtitle {
        font-weight: 600;
        color: $title;
    }

    &__btn {
        position: relative;
        width: 22px;
        height: 22px;
        border: none;
        background-color: transparent;
        //!!!! сделать как бефор такой автор

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 9px;
            height: 22px;
            width: 3px;
            background: linear-gradient(135.62deg, #0AA6FE 24.73%, #05FFFF 128.33%);
            transition: transform 1s;
        }

        &::before {
            transform: rotate(270deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    .questions__btn.active:before {
        transform: rotate(225deg);
    }

    .questions__btn.active::after {
        transform: rotate(135deg);
    }


    &__text {
        margin-top: 35px;
        padding-left: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #727272;
        position: relative;
        display: none;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: linear-gradient(120.79deg, #0AA6FE 31.33%, #05FFFF 101.79%);
        }

        //  ! ! !
        &--active {
            display: flex;
        }
    }

    &__link {
        font-weight: 500;
        text-decoration-line: underline;
        color: #0AA6FE;
        text-align: center;
        display: block;
    }
}

.contacts {
    // padding: 70px 0;
    // background-image: url('../images/icons/footer_bg.svg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    &__box {
        display: flex;
    }

    &__title {
        position: relative;
        margin: 0 auto 60px auto;
        display: inline-block;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: -22px;
            left: -27px;
            height: 40px;
            width: 40px;
            background-image: url('../images/icons/equals.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

.form {
    background: $white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    max-width: 720px;
    padding: 48px 68px 33px 68px;
    position: relative;
    margin-left: auto;

    &::before {
        content: "";
        position: absolute;
        top: 35%;
        left: -97%;
        height: 418px;
        width: 525px;
        background-image: url('../images/present.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        top: 2%;
        left: -86%;
        height: 413px;
        width: 364px;
        background-image: url('../images/smoke.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__link {
        position: absolute;
        // top: 0;
        // left: 0;

        background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
        box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48),
            inset 0px 0px 25px rgba(0, 50, 180, 0.3);
        border-radius: 15px;
        transform: rotate(-45deg);
        width: 160px;
        height: 160px;
        background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);


        &--telegram {
            right: -10%;
            top: -15%;
            transform: rotate(45deg);

            &::before {
                content: "";
                position: absolute;
                right: 35%;
                top: 35%;
                background-image: url('../images/icons/telegram.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 53px;
                height: 46px;
                z-index: 100;
                transform: rotate(-40deg);
            }
        }

        &--discord {
            left: -11%;
            bottom: -15%;
            transform: rotate(45deg);

            &::before {
                content: "";
                position: absolute;
                right: 35%;
                top: 35%;
                background-image: url('../images/icons/discord.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 47px;
                height: 54px;
                z-index: 100;
                transform: rotate(-45deg);
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        color: $title;
        margin-bottom: 35px;
    }

    &__message,
    &__input {
        padding: 15px 15px 15px 30px;
        border: none;
        border-bottom: 1px solid rgba(46, 58, 89, 0.43);

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            color: rgba(46, 58, 89, 0.43);
        }
    }

    &__input {
        width: 279px;
        margin-bottom: 45px;

        &--user {
            margin-right: 20px;
        }
    }

    &__svg {
        position: absolute;

        &--user {
            top: 23.5%;
            left: 9.5%;
        }

        &--mail {
            top: 24%;
            left: 51.7%;
        }

        &--message {
            top: 42.5%;
            left: 9.5%;
        }
    }

    &__message {
        background-image: url('../images/icons/message.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 710px;
        resize: none;
        width: 100%;
        margin-bottom: 45px;
        height: 100px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 19px;
            background-image: url('../images/icons/user.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__button {
        display: flex;
    }

    &__btn {
        font-weight: 600;
        color: $white;
        background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding: 23px 47px;
        border-color: transparent;
        margin: 0 auto 60px auto;
        display: inline-block;
        text-align: center;
        transition: background 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background: $hover-ac;
        }

        &:active {
            color: $active;
        }
    }
}

.footer {
    background-image: url('../images/icons/footer_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // padding-top: 100px;


    &__menu {
        margin-bottom: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 0 20px 0;
    }

    &__copy {
        font-weight: 400;
        font-size: 17px;
        color: $white;
        text-align: center;
        padding-bottom: 50px;
    }
}

@import 'media';